---
import BaseHead from '~/components/BaseHead.astro'
import BaseScript from '~/components/BaseScript.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import { siteConfig } from '~/config'
import { getCollection } from 'astro:content'
import createSlug from '~/lib/createSlug'
import slugDate from '~/lib/slugDate'

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.date.valueOf() + b.data.date.valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={siteConfig.title} description={siteConfig.description} />
    <BaseScript />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul class="list-none mb-6">
          {
            posts.map((post) => (
              <li>
                <a
                  class="inline-block"
                  href={`/${slugDate(post.data.date.toISOString())}${createSlug(
                    post.data.title
                  )}/`}
                >
                  <h3>{post.data.title}</h3>
                </a>
                <div class="flex items-center space-x-2 uppercase">
                  <time datetime={post.data.date.toISOString()}>
                    {post.data.date.toLocaleDateString('en-gb', {
                      day: 'numeric',
                      month: 'long',
                      year: 'numeric',
                    })}
                  </time>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
