---
import BaseHead from '~/components/BaseHead.astro'
import BaseScript from '~/components/BaseScript.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import TopBanner from '~/components/TopBanner.astro'
import { siteConfig } from '~/config'
import { getCollection } from 'astro:content'
import createSlug from '~/lib/createSlug'
import slugDate from '~/lib/slugDate'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
)

const recent_posts = posts.slice(0, siteConfig.postsRecent)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={siteConfig.title} description={siteConfig.description} />
    <BaseScript />
  </head>
  <body>
    <Header />
    <TopBanner />
    <main class="w-full max-w-4xl">
      <section>
        <h2>Recent Posts:</h2>
        <ul class="list-none mb-6">
          {
            recent_posts.map((post) => (
              <li>
                <a
                  class="inline-block"
                  href={`/${slugDate(post.data.date.toISOString())}${createSlug(
                    post.data.title
                  )}/`}
                >
                  <h3 class="font-normal mb-2 mt-6">{post.data.title}</h3>
                </a>
                <div class="flex items-center space-x-2 uppercase">
                  <time datetime={post.data.date.toISOString()}>
                    {post.data.date.toLocaleDateString('en-gb', {
                      day: 'numeric',
                      month: 'long',
                      year: 'numeric',
                    })}
                  </time>
                </div>
              </li>
            ))
          }
        </ul>
        <div class="flex justify-center px-3 py-6">
          <nav class="flex items-center gap-x-8">
            <a href="/posts" class="mr-auto py-2 sm:hover:text-accent">
              View All Posts
            </a>
          </nav>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
