---
import '~/styles/global.css'
import { siteConfig } from '~/config'

export interface Props {
  title: string
  description?: string
  ogType?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const {
  title,
  description,
  ogType = 'website',
  socialImage = '/media/images/social.png',
  atomFeed = '/atom.xml',
} = Astro.props
const TwitterCreator = `@${siteConfig.author.contacts.twitter}`
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={canonicalURL} />
<link
  rel="alternate"
  type="application/rss+xml"
  href={new URL(atomFeed, Astro.url)}
/>
<link
  rel="alternate"
  type="application/atom+xml"
  href={new URL(atomFeed, Astro.url)}
/>
<link
  rel="preload"
  fetchpriority="high"
  as="image"
  href="/media/images/keys_banner.webp"
  type="image/webp"
/>
<title>{title}</title>
<meta name="title" content={title} />
{description && <meta name="description" content={description} />}
<meta property="og:type" content={ogType} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
{description && <meta property="og:description" content={description} />}
<meta property="og:image" content={new URL(socialImage, Astro.url)} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content={TwitterCreator} />
