---
const year = new Date().getFullYear()

import { siteConfig } from '~/config'

const TwitterLink = `https://twitter.com/${siteConfig.author.contacts.twitter}`
const GithubLink = `https://github.com/${siteConfig.author.contacts.github}`
const MastodonLink = `https://${siteConfig.author.contacts.mastodon_url}`
---

<footer
  class="border-t border-gray-300 text-gray-800 dark:border-gray-900 dark:text-gray-100"
>
  <div class="mx-auto max-w-6xl py-10">
    <div class="grid sm:grid-cols-1 md:grid-cols-4 md:gap-8 lg:grid-cols-4">
      <div class="footer-title">
        <p class="md:justify-start">equk</p>
      </div>
      <div class=""></div>
      <div class="footer-nav hidden md:block">
        <nav
          aria-label="More on this site"
          class="gap-x-2 text-center sm:gap-x-0"
        >
          <ul class="md:self-center md:text-base">
            {
              siteConfig.menu.map((item) => (
                <li class="inline-block">
                  <a href={item.path}> {item.label}</a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
      <div class="social-blocks">
        <a
          href={TwitterLink}
          target="_blank"
          aria-label="go to twitter"
          rel="noopener noreferrer"
        >
          <i class="fa fa-twitter"></i>
        </a>
        <a
          href={GithubLink}
          target="_blank"
          aria-label="go to github"
          rel="noopener noreferrer"
        >
          <i class="fa fa-github"></i>
        </a>
        <a
          href={MastodonLink}
          target="_blank"
          aria-label="go to mastodon"
          rel="noopener noreferrer"
        >
          <i class="fa fa-mastodon"></i>
        </a>
      </div>
    </div>
  </div>
  <div>
    <div
      class="mx-auto grid max-w-6xl border-t border-gray-300 p-1 dark:border-gray-900 md:grid-cols-2"
    >
      <div class="copyright text-center text-sm md:text-left">
        Copyright &copy; {year} equk.co.uk all rights reserved.
      </div>
      <div class="powered-by hidden text-right text-sm md:block">
        Powered by <a
          href="https://astro.build/"
          title="astro"
          target="_blank"
          aria-label="go to astro"
          rel="noopener noreferrer"
          ><img
            src="/media/logos/astro.svg"
            width="25px"
            height="20px"
            alt="astro"
            class="dark-logo"
          /></a
        ><a
          href="https://zod.dev/"
          title="zod"
          target="_blank"
          aria-label="go to zod"
          rel="noopener noreferrer"
          ><img
            src="/media/logos/zod.svg"
            width="25px"
            height="20px"
            alt="zod"
          /></a
        >
        <a
          href="https://vite.dev/"
          title="vite"
          target="_blank"
          aria-label="go to vite"
          rel="noopener noreferrer"
          ><img
            src="/media/logos/vite.svg"
            width="25px"
            height="20px"
            alt="vite"
          /></a
        >
        <a
          href="https://vercel.com//"
          title="vercel"
          target="_blank"
          aria-label="go to vercel"
          rel="noopener noreferrer"
          ><img
            src="/media/logos/vercel.svg"
            width="25px"
            height="20px"
            alt="vercel"
            class="dark-logo"
          /></a
        >
      </div>
    </div>
  </div>
</footer>
