---
import { siteConfig } from '~/config'

const TwitterLink = `https://twitter.com/${siteConfig.author.contacts.twitter}`
const GithubLink = `https://github.com/${siteConfig.author.contacts.github}`
const MastodonLink = `https://${siteConfig.author.contacts.mastodon_url}`
---

<section class="top-banner">
  <div class="topbanner-body relative overflow-hidden">
    <div
      class="topbanner-bg absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed"
    >
      <div class="flex h-full items-center justify-center">
        <div class="px-6 text-center text-white md:px-12">
          <h1 class="text-5xl font-bold uppercase tracking-tight md:text-6xl">
            {siteConfig.title}
          </h1>
          <p class="social-blocks">
            <a
              href={TwitterLink}
              target="_blank"
              aria-label="go to twitter"
              rel="noopener noreferrer"
            >
              <i class="fa fa-twitter"></i>
            </a>
            <a
              href={GithubLink}
              target="_blank"
              aria-label="go to github"
              rel="noopener noreferrer"
            >
              <i class="fa fa-github"></i>
            </a>
            <a
              href={MastodonLink}
              target="_blank"
              aria-label="go to mastodon"
              rel="noopener noreferrer"
            >
              <i class="fa fa-mastodon"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
