---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '~/components/BaseHead.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, date, updatedDate, heroImage } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <header class="pb-16 pt-24">
          <div class="space-y-4">
            <h1 class="text-center font-bold dark:text-gray-100 text-4xl">
              {title}
            </h1>
            <dl>
              <div>
                <dl>
                  <div>
                    <div
                      class="text-center text-sm font-medium leading-6 text-gray-500 dark:text-gray-400 md:text-base"
                    >
                      {
                        date && (
                          <time datetime={date.toISOString()}>
                            {date.toLocaleDateString('en-us', {
                              year: 'numeric',
                              month: 'long',
                              day: 'numeric',
                            })}
                          </time>
                        )
                      }
                      {
                        updatedDate && (
                          <div>
                            Last updated on <time>{updatedDate}</time>
                          </div>
                        )
                      }
                    </div>
                  </div>
                </dl>
              </div>
            </dl>
          </div>
        </header>
        {
          heroImage && (
            <div class="hero-image">
              <img src={heroImage} alt="" />
            </div>
          )
        }
        <div
          class="post-content"
          style="mx-auto max-w-3xl grid-template-rows: auto 1fr"
        >
          <div class="xl:col-span-3 xl:row-span-2 xl:pb-0">
            <div
              class="prose prose-lg max-w-none pb-8 dark:prose-dark md:prose-xl"
            >
              <slot />
            </div>
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
