---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '~/components/BaseHead.astro'
import BaseScript from '~/components/BaseScript.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import { siteConfig } from '~/config'

type Props = CollectionEntry<'blog'>['data']

const { title, date, heroImage } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead
      title={`${title} - ${siteConfig.title}`}
      description={siteConfig.description}
    />
    <BaseScript />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <header class="pb-16 pt-24">
          <div class="space-y-4">
            <h1 class="text-center text-5xl font-bold dark:text-gray-100">
              {title}
            </h1>
            <dl>
              <div>
                <dl>
                  <div>
                    <div
                      class="text-center leading-6 text-gray-500 dark:text-gray-400"
                    >
                      {
                        date && (
                          <time datetime={date.toISOString()}>
                            {date.toLocaleDateString('en-us', {
                              year: 'numeric',
                              month: 'long',
                              day: 'numeric',
                            })}
                          </time>
                        )
                      }
                    </div>
                  </div>
                </dl>
              </div>
            </dl>
          </div>
        </header>
        {
          heroImage && (
            <div class="hero-image">
              <img src={heroImage} alt="" />
            </div>
          )
        }
        <div class="post-content" style="grid-template-rows: auto 1fr">
          <div class="xl:col-span-3 xl:row-span-2 xl:pb-0">
            <div class="prose lg:prose-lg mx-auto max-w-none">
              <slot />
            </div>
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
